* {
    margin: 0;
    padding: 0;
  }
.slider {
  display: flex;
  width: 100%;
  position: relative;
}
.slider li {
  list-style: none;
  position: absolute;
  width: 100%;
}

.slider input {
  display: none;
  width: 100%;
}
.slider label {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  bottom: 10px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  position: absolute;
  z-index: 10;
  border-radius: 200px;
}
.slider li:nth-child(1) label {
  display: flex;
  margin-left: 400px;
}

.slider li:nth-child(2) label {
  display: flex;
  margin-left: 500px;
}
.slider img {
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
