.card_envio {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  font-size: 12px;
}
.envio_previsao {
  font-size: 10px;
  font-style: italic;
  text-align: right;
}
.envio_preco {
  font-weight: bold;
  text-align: right;
}
