
.produto-container {
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  .valor__parcelas {
    display: flex;
    column-gap: 10px;
    margin-bottom: 20px;
  }
  
  .valor__parcelas > p:first-child {
    font-weight: bold;
  }
  .valor__parcelas > p:last-child {
    color: #707070;
  }
  
  .tamanhos {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 600px) {
    .produto-container {
      flex-direction: column;
      padding: 20px;
    }
    
    .image > img {
      display: block;
      margin: auto;
      width: 95%;
    }
  }
  