.imgbanner1 {
    height: 30vh;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    animation: BannerAnimation 30s infinite;
}

@keyframes BannerAnimation {
    0% {
        background-image: url("./img/Banner1.png");
    }
    25% {
        background-image: url("./img/Banner2.png");
    }
    50% {
        background-image: url("./img/Banner3.png");
    }
    75% {
        background-image: url("./img/Banner4.png");
    }
    100% {
        background-image: url("./img/Banner1.png");
    }
}

@media screen and (min-width: 1000px) {
    .imgbanner1 {
        height: 550px;
    }
}
