.imgbanner1 {
    height: 550px;
    position: relative;
    background-image: url("./img/Banner1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    transition-delay: 0.7s;
}
.imgbanner1:hover {
    height: 550px;
    background-image: url("./img/Banner2.png");
}
.imgbanner2 {
    background-image: url("./img/Banner3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.imgbanner2:hover {
    background-image: url("./img/Banner4.png");
}
